@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #fd5555;
  --primary-hover: #ff1b1b;
  --secondary: #050c16;
  --height: 217px;
  --width: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100%;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

.close {
  font-size: 50px;
  position: absolute;
  right: 10vh;
  top: 2px;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--primary-hover);
}

.line-title {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 28px;
}

button {
  outline: none !important;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title-container {
  display: flex;
  justify-content: center;
}

.line-title {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: 40px;
  padding-bottom: 20px;
  color: var(--primary);
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.App-portfolio .item .line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: var(--primary);
}

.item-btn {
  display: flex;
  justify-content: center;
}

.item-btn button {
  color: var(--primary);
  font-size: 20px;
  font-weight: 500;
  font-family: cursive;
  background: none;
  border: none;
  margin: 10px 0;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.App-portfolio {
  padding: 60px 50px;
  max-width: 1440px;
}

.just-a-owl {
  display: flex;
}

.App-portfolio .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.App-portfolio .item {
  margin: 0 15px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  width: calc(var(--width) * 2.5);
  background-size: cover;
  height: calc(var(--height) * 2.2);
}

.App-portfolio .item.active {
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.App-portfolio .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.App-portfolio .item-desc {
  padding: 0 24px 14px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.App-portfolio .item.active .item-desc {
  background-color: #0000006b;
  height: calc(var(--height) * 3);
  transform: none;
  display: flex;
  -webkit-transform: none;
  flex-direction: column;
  justify-content: flex-end;
}

.App-portfolio .item-desc p {
  font-size: 13px;
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.App-portfolio .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/******** Middle section CSS End *******/
.owl-nav.disabled,
.owl-dots {
  display: none !important;
}

/***** responsive css Start ******/


@media (min-width: 1200px) and (max-width: 1350px) {
  .App-portfolio .item {
    width: calc(var(--width) * 2.3);
    height: calc(var(--height) * 2.1);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    display: block !important;
    height: 100%;
    overflow: hidden;
  }

  .line-title {
    margin-bottom: 32px;
  }

  h3 {
    font-size: 17px;
    line-height: 18px;
  }



  .item-btn button {
    font-size: 28px;
  }

  /* -------- Landing page ------- */
  .App-portfolio {
    padding: 50px 30px;
  }

  .App-portfolio .item {
    margin: 0 12px;
    width: calc(var(--width) * 2.2);
    height: calc(var(--height) * 2);
  }

  /* .App-portfolio .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }   */
  p {
    font-size: 14px !important;
  }

  .close {
    font-size: 50px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    overflow: auto !important;
  }

  .just-a-owl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  h3 {
    font-size: 18px;
  }

  .line-title {
    width: 330px;
    font-size: 35px;
    padding-bottom: 25px;
    margin-bottom: 32px;
    font-size: 35px !important;
  }

  .App-portfolio p {
    font-size: 13px;
  }

  .App-portfolio {
    padding: 50px 30px 40px;
  }

  .item {
    margin: 0 12px;
    width: calc(var(--width) * 2.3) !important;
    height: calc(var(--height) * 2.3) !important;
  }

  /* .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } */

  .close {
    font-size: 50px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  body {
    overflow: auto !important;
  }

  .just-a-owl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }



  h3 {
    margin: 0 0 5px !important;
    font-size: 16px !important;
  }

  .line-title {
    width: 330px;
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 36px !important;
  }

  .App-portfolio {
    padding: 50px 30px 40px;
  }

  .App-portfolio .item-desc {
    padding: 0 12px 12px;
  }

  .item {
    margin: 0 12px;
    width: calc(var(--width) * 1.9) !important;
    height: calc(var(--height) * 1.9) !important;
    margin: 10px !important;
  }

  /* .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } */

  .close {
    font-size: 45px;
    top: 5px;
    right: 2vh;
  }

  p {
    font-size: 13px !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {

  body {
    overflow: auto !important;
  }

  .just-a-owl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .App-portfolio {
    padding: 30px 15px 20px !important;
  }

  .item {
    margin: 0 12px;
    width: calc(var(--width) * 2) !important;
    height: calc(var(--height) * 2) !important;
  }


  p {
    font-size: 11px !important;
  }

  h3 {
    margin: 0 0 8px !important;
    font-size: 19px !important;
    line-height: 24px !important;
  }

  .line-title {
    width: 250px !important;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    font-size: 29px !important;
  }

  .close {
    font-size: 40px;
    right: 2vh;
    top: 5px;
  }
}


@media only screen and (max-width: 499px) {

  body {
    overflow: auto !important;
  }

  .just-a-owl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .App-portfolio .item-desc {
    padding: 0 12px 12px !important;
  }

  .App-portfolio {
    padding: 30px 15px 20px !important;
  }

  .item {
    margin: 10px 12px !important;
    width: calc(var(--width) * 1.3) !important;
    height: calc(var(--height) * 1.3) !important;
  }

  p {
    font-size: 9px !important;
  }

  h3 {
    margin: 0 0 8px !important;
    font-size: 19px !important;
    line-height: 24px !important;
  }

  .line-title {
    width: 250px !important;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    font-size: 25px !important;
  }

  .close {
    font-size: 35px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (max-width: 340px) {
  .line-title {
    margin-bottom: 10px !important;
    font-size: 24px !important;
  }

  p {
    font-size: 8px !important;
  }

  h3 {
    margin: 0 0 8px !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .item {
    margin: 10px 12px !important;
    width: calc(var(--width) * 1.2) !important;
    height: calc(var(--height) * 1.2) !important;
  }

  .close {
    font-size: 30px;
    right: 2vh;
    top: 5px;
  }
}