@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal
}

* {
  font-family: Montserrat;
}

:root {
  --primary: #fd5555;
  --primary-hover: #ff1b1b;
  --secondary: #050c16;
}

body {
  background-color: black;
}

.line-title {
  width: 330px;
  font-size: 35px;
  padding-bottom: 25px;
  margin-bottom: 32px;
  font-size: 35px !important;
}

.glassmorphic-card {
  justify-content: center;
  position: relative;
  display: flex;
}

.contentBox {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.close {
  font-size: 50px;
  position: absolute;
  right: 10vh;
  top: 0px;
  color: var(--primary);
}


.glassmorphic-card ul {
  display: inline-flex;
  width: max-content;
  list-style-type: none;
  padding: 8px 20px;
  margin: 15px 9px 0 0;
  background: #ffffffcf;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--primary);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

li a {
  color: #000;
  text-decoration: none;
}

li {
  text-align: center;
}

ul:hover {
  scale: 1.1;
  transition: scale 0.4s ease;
}

/* -------- title style ------- */
.line-title-container {
  display: flex;
  justify-content: center;
}

.line-title {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: 28px;
  padding-bottom: 20px;
  color: var(--primary);
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: var(--primary);
}

.item-btn {
  display: flex;
  justify-content: center;
}

.item-btn button {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  font-family: cursive;
  background: none;
  border: none;
  margin: 10px 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }

  .line-title {
    margin-bottom: 32px;
  }

  li a {
    font-size: 18px !important;
  }

  .close {
    font-size: 50px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }

  .line-title {
    width: 330px;
    font-size: 40px;
    padding-bottom: 25px;
    margin-bottom: 32px;
    font-size: 35px !important;
  }

  .close {
    font-size: 50px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }

  .line-title {
    width: 330px;
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 20px !important;
    font-size: 30px !important;
  }

  .close {
    font-size: 45px;
    top: 5px;
    right: 2vh;
  }

  li a {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }

  li a {
    font-size: 13px !important;
  }



  .line-title {
    width: 250px !important;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    font-size: 25px !important;
  }

  .close {
    font-size: 40px;
    right: 2vh;
    top: 5px;
  }
}


@media only screen and (max-width: 499px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }



  li a {
    font-size: 12px !important;
  }

  .line-title {
    width: 250px !important;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    font-size: 25px !important;
  }

  .close {
    font-size: 35px;
    right: 2vh;
    top: 5px;
  }
}

@media only screen and (max-width: 340px) {
  .glassmorphic-card ul {
    padding: 4px 10px;
    margin: 7px 5px 0 0;
  }

  .line-title {
    margin-bottom: 10px !important;
    font-size: 24px !important;
  }

  li a {
    font-size: 12px !important;
  }

  .close {
    font-size: 30px;
    right: 2vh;
    top: 5px;
  }
}